

h1 {
    color: purple;
    text-align: center;
  }

.hide-me {
        display: none;
 }

 body {
    margin: 0;
    background-color: blue;
    text-align: center;
  }

  
 div {
    font-family: verdana;
    font-size: 30px;
  }

  p {
    font-family: blue;
    background-color:red !important;
  }
  
